@import "bootstrap";

.twitter-typeahead {
  vertical-align: top;
}

//
// From:
// https://github.com/hyspace/typeahead.js-bootstrap3.less
//

.tt-dropdown-menu {
  background-clip: padding-box;
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-border;
  border-radius: $border-radius-base;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  font-size: $font-size-base;
  left: 0;
  list-style: none;
  margin: 2px 0 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: $zindex-dropdown;

  .tt-suggestion {
    clear: both;
    color: $dropdown-link-color;
    display: block;
    font-weight: normal;
    line-height: $line-height-base;
    padding: 3px 20px;

    &.tt-cursor {
      background-color: $dropdown-link-hover-bg;
      color: $dropdown-link-hover-color;
      cursor: pointer;
      outline: 0;
      text-decoration: none;
    }

    p { margin: 0; }
  }

  .tt-cursor a {
    color: $dropdown-link-hover-color;
  }
}
